shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
rapidfuzz
opencv-python-headless
opencv-contrib-python-headless
cython
Pillow
pyyaml
requests
albumentations
# to be compatible with albumentations
albucore
packaging